<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="watchMeRunGroup">
      <section name="watchMeRun" type="WatchMeRun.Library.WatchMeRunSection, WatchMeRun.Library" allowLocation="true" allowDefinition="Everywhere"/> 
    </sectionGroup>
  </configSections>

  <watchMeRun>
    <add path="h:\gisp\newadmin" name="rebuild" command="rebuild.bat"/>
    <add path="h:\gisp\newadmin" name="test" command="test.bat"/>
    <add path="h:\gisp\newadmin" name="deploy" command="deploy.bat"/>
  </watchMeRun>
</configuration>
