<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="watchMeRunGroup">
      <section name="watchMeRun" type="WatchMeRun.Service.WatchMeRunSection" allowLocation="true" allowDefinition="Everywhere"/> 
    </sectionGroup>
  </configSections>
  <appSettings>

  </appSettings>

  <watchMeRunGroup>
    <watchMeRun>
      <directories>
        <directory path="h:\gisp\newadmin">
          <file name="rebuild" command="rebuild.bat"/>
          <file name="test" command="test.bat"/>
          <file name="deploy" command="deploy.bat"/>
        </directory> 
      </directories>
    </watchMeRun>
  </watchMeRunGroup>

</configuration>